PORT=8000
MONGODB_URI=mongodb+srv://soham:your-password@cluster0.arjbkda.mongodb.net
ACCESS_TOKEN_SECRET=youraccesstoken
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=yourrefreshtoken
REFRESH_TOKEN_EXPIRY=10d